.App {
  text-align: center;

  width: 100%;
  height: 100%;
  background-color: #0b0c10;
  display: flex;
  flex-direction: column;
}

.Header {
  position: fixed;
  z-index: 10;

  height: 70px;

  overflow: hidden;
  width: 100%;
  top: 0;
  transition: background-color 200ms linear;
}

.Header-transformed {
  background-color: rgb(69, 162, 158, 0.4);
}

@media only screen and (max-width: 600px) {
  .Header {
    height: 90px;
  }
}
